<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Superheroes</title>
 </head>
 <body>
   <h1>Create a Team and Heroes!</h1>
    <form action="/team" method="post">
      <p><label for="">Team Name:</label>
      <input type="text" name="team[name]"></p>
      <p><label for="">Team Motto:</label>
      <input type="text" name="team[motto]"></p>
      <p><label for="">Hero Name:</label>
      <input id="member1_name" type="text" name="team[heroes][][name]"></p>
      <p><label for="">Hero Power:</label>
      <input id="member1_power" type="text" name="team[heroes][][power]"></p>
      <p><label for="">Hero Biography:</label>
      <input id="member1_bio" type="text" name="team[heroes][][bio]"></p>
      <p><label for="">Hero Name:</label>
      <input id="member2_name" type="text" name="team[heroes][][name]"></p>
      <p><label for="">Hero Power:</label>
      <input id="member2_power" type="text" name="team[heroes][][power]"></p>
      <p><label for="">Hero Biography:</label>
      <input id="member2_bio" type="text" name="team[heroes][][bio]"></p>
      <p><label for="">Hero Name:</label>
      <input id="member3_name" type="text" name="team[heroes][][name]"></p>
      <p><label for="">Hero Power:</label>
      <input id="member3_power" type="text" name="team[heroes][][power]"></p>
      <p><label for="">Hero Biography:</label>
      <input id="member3_bio" type="text" name="team[heroes][][bio]"></p>
      <p><label for="">Hero Name:</label>
      <input type="submit" value="submit">
    </form>
 </body>
</html>
